
@model YachtPageVM


@section css {
    <link href="~/assets/css/yachts.css" rel="stylesheet" />
}



@section js {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script src="~/assets/js/yachts.js"></script>
}

<header>
    <div class="header-foto" style="background-image: url('/assets/img/6.jpg')">
        <div class="container">
            <div class="foto-title">
                <h1>Luxury Yacht Center</h1>
                <p>Yacht</p>
            </div>
        </div>
        <div class="cover"></div>
    </div>
</header>

<main>
    <section id="yachts">
        <div class="container">
            <div class="col-md-12">
                @if (Model.Yachts.ToList().Count() != 0)
                {

                    <select class="sort">
                        <option id="yacht" selected>Select sort type</option>
                        <option value="Old to New">Old to new</option>
                        <option value="A to Z">Sort A-Z</option>
                        <option value="Z to A">Sort Z-A</option>
                        <option value="Cheap to Expensive">Sort price low to high</option>
                        <option value="Expensive to Cheap">Sort price high to low</option>
                    </select>

                }
            </div>
            <div class="row boats">
                @if (Model.Yachts.ToList().Count() == 0)
                {
                    <div class="alert text-center alert-light" role="alert">
                        Unfortunately, there has no yacht with this category yet!
                    </div>
                }
                else
                {
                    @foreach (var item in Model.Yachts)
                    {
                        <div class="col-4">
                            <div class="square-flip">
                                <div class="square"
                                     data-background="~/assets/img/yachts/01.jpg"
                                     style="background-image: url('/assets/img/@item.YachtImages.FirstOrDefault(m => m.IsMain).Image')">
                                    <span class="category"><a href="#0">Featured</a></span>
                                    <div class="square-container">
                                        <div class="box-title">
                                            <h4>@(item.Length * 3)ft Yacht - @item.Name</h4>
                                            <h6>$@item.Price <span>/ Hour</span></h6>
                                        </div>
                                    </div>
                                    <div class="flip-overlay"></div>
                                </div>
                                <div class="square2">
                                    <div class="square-container2">
                                        <h4>@(item.Length * 3) Yacht - @item.Name</h4>
                                        <p>
                                            @item.Description
                                        </p>
                                        <div class="ullist">
                                            <ul>
                                                <li>Length: @item.Length m (@(item.Length * 2))</li>
                                                <li>Guests: @item.Guest</li>
                                                <li>Build: @item.Build</li>
                                            </ul>
                                        </div>
                                        <div><a asp-action="Index" asp-route-id="@item.Id" asp-controller="YachtDetail" class="button-1">Know More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
</main>





